/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
	font-family: Poppins-Regular;
	src: url('/fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
	font-family: Poppins-Bold;
	src: url('/fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
	font-family: Poppins-SemiBold;
	src: url('/fonts/poppins/Poppins-SemiBold.ttf');
}
@font-face {
	font-family: Poppins-ExtraBold;
	src: url('/fonts/poppins/Poppins-ExtraBold.ttf');
}
@font-face {
	font-family: Poppins-Light;
	src: url('/fonts/poppins/Poppins-Light.ttf');
}
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body, html {
	font-family: Poppins-Regular;
}
/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
}
/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
ul, li {
	margin: 0px;
	list-style-type: none;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}
textarea {
	outline: none;
	border: none;
}
textarea:focus, input:focus {
	border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
	color:transparent;
}
input:focus:-moz-placeholder {
	color:transparent;
}
input:focus::-moz-placeholder {
	color:transparent;
}
input:focus:-ms-input-placeholder {
	color:transparent;
}
textarea:focus::-webkit-input-placeholder {
	color:transparent;
}
textarea:focus:-moz-placeholder {
	color:transparent;
}
textarea:focus::-moz-placeholder {
	color:transparent;
}
textarea:focus:-ms-input-placeholder {
	color:transparent;
}
input::-webkit-input-placeholder {
	color: #adadad;
}
input:-moz-placeholder {
	color: #adadad;
}
input::-moz-placeholder {
	color: #adadad;
}
input:-ms-input-placeholder {
	color: #adadad;
}
textarea::-webkit-input-placeholder {
	color: #adadad;
}
textarea:-moz-placeholder {
	color: #adadad;
}
textarea::-moz-placeholder {
	color: #adadad;
}
textarea:-ms-input-placeholder {
	color: #adadad;
}
/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
	background: #f58427;
	transition-duration: 0.4s;
}
iframe {
	border: none !important;
}
/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container {
	width: 100% !important;
	min-height: 0 !important;
	display: -webkit-box  !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	flex-wrap: wrap !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
	padding: 15px 15px 200px 15px !important;
	background-position: center top !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-image: url('/images/bg-02.jpg') !important;
}
img.top-logo {
	margin: 0 0 30px 0;
}
.wrap {
	max-width: 960px;
	height: auto;
	background: #fff;
	border-radius: 2px;
	padding: 66px 115px 59px 115px;
	position: relative;
	box-shadow: 0 0 10px 1px #B0B0B0;
}
/*=======Top logo==========*/
div.form-top-logo {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
/*==================================================================
[ Form ]*/

.form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-title {
	display: block;
	width: 100%;
	font-family: Poppins-ExtraBold;
	font-size: 30px;
	color: #333333;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 20px;
}

.short-info{
	font-family: Poppins-Light;
	font-size: 22px;
	width: 100%;
	padding-bottom: 15px;
}
/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
	width: 100%;
	position: relative;
	background-color: transparent;
	margin-bottom: 35px;
}
.rs1-wrap-input {
	width: calc((100% - 30px) / 2);
}
.label-input {
	font-family: Poppins-SemiBold;
	font-size: 14px;
	color: #555555;
	line-height: 1.5;
}
.input {
	display: block;
	width: 100%;
	background: #f2f2f2;
	border-radius: 2px;
	font-family: Poppins-SemiBold;
	font-size: 15px;
	color: #686868;
	line-height: 1.2;
	padding: 0 28px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	margin-top: 10px;
}
/*---------------------------------------------*/
input.input {
	height: 50px;
}
input::-webkit-inner-spin-button {
	width: 1em;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	cursor: pointer;
}
index-logo-top {
	position: relative;
}
input::-webkit-clear-button {
	padding: 0 5px 0 0;
}
input::-webkit-calendar-picker-indicator {
	padding: 0 0 0 5px;
}

select.input{
	border: none;
	height: 60px;
}
textarea.input {
	min-height: 162px;
	padding-top: 19px;
	padding-bottom: 13px;
}
.input:focus {
	background: #e6e6e6;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5px;
}
.wrap-form-btn {
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 2px;
	overflow: hidden;
	margin: 0 20px;
}
.form-bgbtn {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: grey;
	top: 0;
	left: -100%;
}
.form-btn {
	text-decoration: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 130px;
	height: 50px;
	font-family: Poppins-SemiBold;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}
.wrap-form-btn:hover .form-bgbtn {
	left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
	.wrap {
		padding: 66px 80px 59px 80px;
	}
}

@media (max-width: 768px) {
	.rs1-wrap-input {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.wrap {
		padding: 66px 15px 59px 15px;
	}
}
/*------------------------------------------------------------------
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	pointer-events: none;

	font-family: Poppins-Light;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.alert-validate::after {
	content: "\f12a";
	font-family: Poppins-Light;
	font-size: 16px;
	color: #c80000;

	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 15px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1;
	}
}

.wrong-alert{
	font-family: Poppins-SemiBold;
	color: #FF3E3E;
	padding-top: 15px;
}

/*==================================================================
[ Contact more ]*/

.more {
	display: block;
	max-width: 960px;
	font-family: Raleway-SemiBold;
	font-size: 20px;
	color: #fff;
	line-height: 1.4;
	text-align: center;
	padding: 40px 0 10px 0;
}
