@charset "utf-8";
/* CSS Document */


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {

  font-family: Poppins-Regular;
  src: url('/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/fonts/poppins/Poppins-Bold.ttf');
}


header{
	width: 100%;
		background-color: #F5F5F6;
}
div.logo{
	width: 100%;
	background-color: #F5F5F6;

}

/*------------------------*/
body{
	margin: 0;
	padding: 0;
}

div.index-button{
	display: block;
	align-items: center;
	width: 100%;
	background-color:#F5F5F6;
	min-height: 50vh;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
.index-img-button{
	width: 100%;
	opacity: 0.5;
	border: 0px;
	padding: 0px;
	margin: -1.5px ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.index-img-button:hover{
	opacity: 1;
	padding: 0px;
	border: 0px;
	margin: -1.5px;
	transition: all 0.5s;
}

.footer-distributed{
	background-color: #5C5F62;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	margin-left: 0;
	padding: 25px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
	font-family: Poppins-SemiBold;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h4{
	color:  #F1F1F1;
	font-family: Poppins-SemiBold;
	margin: 0;
}


.footer-distributed h5{
	color:  #1F2022;
	font-family: Poppins-Light;
	margin: 0;
}
/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 100%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: right;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

